/*Colors */


/*Gradients*/

/*Background Gradient - Pink to Red*/
.grad-bg-ptr{
    background: linear-gradient(to top left, rgba(175, 0, 103, 1) 0%, rgba(191, 63, 63, 1) 0100%);
}
/*Background Gradient - Pink to Red - TO TOP RIGHT*/
.grad-bg-ptr-ttr{
    background: linear-gradient(to top right, rgba(175, 0, 103, 1) 0%, rgba(191, 63, 63, 1) 0100%);
}

/*Background Gradient - Red to Pink*/
.grad-bg-rtp{
    background: linear-gradient(to top left, rgba(191, 63, 63, 1) 0%, rgba(175, 0, 103, 1) 0100%);
}
/*Background Gradient - Red to Pink - TO TOP RIGHT*/
.grad-bg-rtp-ttr{
    background: linear-gradient(to top right, rgba(191, 63, 63, 1) 0%, rgba(175, 0, 103, 1) 0100%);
}

.grad-bg-btp{
    background: linear-gradient(to top left, rgba(10, 193, 255, 1) 0%, rgba(175, 0, 103, 1) 0100%);
}
.grad-bg-rtg{
    background: linear-gradient(to top left, rgba(191, 63, 63, 1) 0%,  rgba(73, 81, 84, 1) 0100%);
}

/*Background Gradient - Blue to White*/
.grad-bg-btw{
    background: linear-gradient(to top left, rgba(10, 193, 255, 1) 0%, rgba(255, 245, 245, 1) 0100%);
}
/*Background Gradient - Red to Blue (FIX THIS)*/
.grad-bg-blue-to-red{
    background: linear-gradient(to top right, rgba(191, 63, 63, 1) 0%, rgba(10, 193, 255, 1) 0100%);
}

.gbg-gray-to-blue{
  background: linear-gradient(to top right, rgba(73, 81, 84, 1) 0%, rgba(10, 193, 255, 1) 100%);
}
.lg-to-dg{
    background: linear-gradient(to top right, rgba(73, 81, 84, 1) 0%, rgba(0, 34, 45, 1) 100%);
}

.striped-r-b-p-solid{
    background: linear-gradient(to right, rgba(191, 63, 63, 1) 0, rgba(191, 63, 63, 1) calc(100% / 3), rgba(10, 193, 255, 1) calc(100% / 3), rgba(10, 193, 255, 1) calc( (100% / 3) + (100% / 3) ), rgba(175, 0, 103, 1) calc( (100% / 3) + (100% / 3) ), rgba(175, 0, 103, 1) 100%);
}

.r-b-p{
    background:linear-gradient(to top left, rgba(191, 63, 63, 1) 33.33%, rgba(10, 193, 255, 1) 66.66%, rgba(175, 0, 103, 1) 100%);
}
.r-b-p-tr{
    background:linear-gradient(to right, rgba(191, 63, 63, 1) 33.33%, rgba(10, 193, 255, 1) 66.66%, rgba(175, 0, 103, 1) 100%);
}
.r-b-p-tl{
    background:linear-gradient(to left, rgba(191, 63, 63, 1) 33.33%, rgba(10, 193, 255, 1) 66.66%, rgba(175, 0, 103, 1) 100%);
}
.r-b-p-ttr{
    background:linear-gradient(to top right, rgba(191, 63, 63, 1) 33.33%, rgba(10, 193, 255, 1) 66.66%, rgba(175, 0, 103, 1) 100%);
}

.b-o-p{
    background:linear-gradient(to top left, rgba(10, 193, 255, 1) 33.33%, rgba(255, 84, 5, 1) 66.66%, rgba(175, 0, 103, 1) 100%);
}

.r-o-p{
    background:linear-gradient(to top left, rgba(191, 63, 63, 1) 33.33%, rgba(255, 84, 5, 1) 66.66%, rgba(175, 0, 103, 1) 100%); 
}


/*Actual Site Colors*/

/*Light Blue*/
.Lightblue{
    color: rgba(10, 193, 255, 1) !important;
}
.Lightblue-children *{
    color: rgba(10, 193, 255, 1) !important;
}
.Lightblue-bg{
    background-color: rgba(10, 193, 255, 1) !important;
}
.Lightblue-bor{
    border-color:rgba(10, 193, 255, 1) !important;
}
.Lightblue-icon i{
    color:rgba(10, 193, 255, 1) !important;
}
/*Light Gray*/
.Lightgray{
    color: rgba(73, 81, 84, 1) !important;
}
.Lightgray-children{
    color: rgba(73, 81, 84, 1) !important;
}
.Lightgray-bg{
    background-color: rgba(73, 81, 84, 1) !important;
}
.Lightgray-bor{
    border-color:rgba(73, 81, 84, 1) !important;
}

/*Dark Gray*/
.Darkgray{
    color: rgba(0, 34, 45, 1) !important;
}
.Darkgray-children * {
    color: rgba(0, 34, 45, 1) !important;
}
.Darkgray-bg{
    background-color: rgba(0, 34, 45, 1) !important;
}
.Darkgray-bor{
    border-color:rgba(0, 34, 45, 1) !important;
}

/*Red*/
.Red{
    color: rgba(191, 63, 63, 1) !important;
}
.Red-children{
    color: rgba(191, 63, 63, 1) !important;
}
.Red-bg{
    background-color: rgba(191, 63, 63, 1) !important;
}
.Red-border{
    border-color: rgba(191, 63, 63, 1) !important;
}

/*Pink*/
.Pink{
    color: rgba(239, 0, 107, 1) !important;
}
.Pink-children * {
    color: rgba(239, 0, 107, 1) !important;
}
.Pink-bg{
    background-color: rgba(239, 0, 107, 1) !important;
}
.Pink-border{
    border-color: rgba(239, 0, 107, 1) !important;
}
.Pink-icon i{
    color:rgba(239, 0, 107, 1) !important;
}
/*Orange*/
.Orange{
    color: rgba(255, 84, 5, 1) !important;
}
.Orange-children * {
    background-color:rgba(255, 84, 5, 1) !important;
}
.Orange-bg{
    background-color:rgba(255, 84, 5, 1) !important;
}
.Orange-border{
    border-color:rgba(255, 84, 5, 1) !important;
}

/*Special White*/
.White{
    color:rgba(242, 230, 250, 1) !important;
}
.White-children * {
    color:rgba(242, 230, 250, 1) !important;
}
.White-bg{
    background-color:rgba(255, 245, 245, 1) !important;
}
.White-border{
    border-color:rgba(255, 245, 245, 1) !important;
}
.RBPO{
    background: linear-gradient(to right, rgba(10, 193, 255, 1) 25.0%, rgba(191, 63, 63, 1) 50.0%, rgba(175, 0, 103, 1) 75.0%, rgba(255, 84, 5, 1) 100%)
}
/* Overrides */
.Lightblue-hover:hover * {
    transition: color 0.2s;
    -ms-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    color: rgba(10, 193, 255, 1) !important;
    cursor:pointer;
}
.Red-hover:hover *{
    transition:color 0.2s;
    -ms-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    color: rgba(191, 63, 63, 1) !important;
    cursor:pointer;
}
.Inline-Icon i{
    font-size:inherit;
    display:inline;
}