@import url('https://fonts.googleapis.com/css?family=Work+Sans');
html, body{
  scroll-behavior: smooth;
  overflow-x:hidden;
}
.Loading{
  line-height:30px;
  position:fixed;
  width:100%;
  top:50vh;
  text-align:center;
}
.alert{
  width:100vw;
  min-height:40px;
  position:fixed;
  top:60px;
  text-align:center;
  line-height:40px;
}
*{
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Bold{
  font-weight:bold;
}
.No-X-Scroll{
  overflow-x:hidden;
}

.Custom-Flex{
  display:flex;
  flex-wrap:wrap;
}
.Force-Half{
  width:50vw;
  margin:0 auto;
}
.Force-Half *{
  margin:0 auto;
  left:0px !important;
}
.Force-Half input{
  width:50vw !important;
  transform: none !important;
}
/* Basics unless I say otherwise. boi.*/
.CAPS{
  text-transform: uppercase;
}
h1{
  font-size:26px;
}
h2{
  font-size:23px;
}
h3{
  font-size:20px;
}
h4{
  font-size:18px;
}
h5{
  font-size:14px;
}
h6{
  font-size:10px;
}
p, li{
  font-size:18px;
}
.Very-Large{
  font-size:30px !important;
}
@media screen and (max-width:800px){
  h1{
    font-size:20px;
  }
  h2{
    font-size:18px;
  }
  h3{
    font-size:16px;
  }
  h4{
    font-size:14px;
  }
  h5{
    font-size:10px;
  }
  h6{
    font-size:8px;
  }
  p, li{
    font-size:14px;
  }
}

.Just-Flex{
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  -ms-flex-direction: row;
}
.Fill-Height{
  min-height:100vh;
}
.Half-Width-Full-Height{
  width:50vw;
  height:calc(100vh - 65px);
  margin:60px 0px 0px 0px;
  float:left;
}

.Third-Width-Full-Height{
  width:33vw;
  position:Relative;
  top:60px;
  overflow-y:hidden;
  height:calc(100vh - 60px);
}
.Third-Width-Full-Height *{
  margin:0;
  padding:0;
}
.Fill-Remaining-Thirds{
  margin-left:2vw;
  width:64vw;
  height:calc(100vh - 65px);
  margin:60px 0px 0px 0px;
  float:left;
}
.Vertical-Center-Input{
  position:relative;
  top:50%;
  transform:translateY(-50%);
  width:80%;
  margin:0 auto;
  padding:0px 0px 20px 0px;
}
.Vertical-Center-Input *{
  margin:0;
  padding:0;
}


.InnerAspectRatio{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  text-align:center;
  width:100%;
}
.NoPadNoMargin{
  margin:0 !important;
  padding:0 !important;
}

.Center-Title{
  text-align:center;
  letter-spacing:2px;
  margin:20px 0;
  padding:0;
}

body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}
.App-header {
  position:absolute;
  top:0px;
  left:0px;
  height:auto;
  min-height:100vh !important;
  overflow-y:scroll;
  width:100vw;
  background: linear-gradient(to top right, rgba(175, 0, 103, 1) 0%, rgba(191, 63, 63, 1) 0100%);
}
.Content-Container{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
}


.Heavy-Box-Shadow{
  -webkit-box-shadow: 20px 20px 30px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 20px 20px 30px -10px rgba(0,0,0,0.5);
  box-shadow: 20px 20px 30px -10px rgba(0,0,0,0.5);
}
.Heavy-Inset-Box-Shadow{
  -webkit-box-shadow: inset -20px -20px 30px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: inset -20px -20px 30px -10px rgba(0,0,0,0.5);
  box-shadow: inset -20px -20px 30px -10px rgba(0,0,0,0.5);
}
.Light-Box-Shadow{
  -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
}


/* Navigation */
.Account-Logged{
  position:relative;
  right:60px;
}
.Header-Icon i{
  font-size:40px !important;
  position:relative;
  top:10px;
  right:40px;
}
.Icon-Child i{
  font-size:26px !important;
  position:relative;
  top:7px;
  z-index:3000;
}
.Functional-Icon-Child i{
  font-size:40px !important;
  z-index:3000;
}
.NavTile{
  width:50px;
  height:50px;
  cursor:pointer;
  margin-top:10px;
}
.NavTile:hover{
  filter:brightness(105%);
  -ms-filter:brightness(105%);
  -moz-filter:brightness(105%);
  -webkit-filter:brightness(105%);
  -o-filter:brightness(105%);
}

.Open-Menu{
  position:fixed;
  top:10px;
  left:60px;
  z-index:1234567;
  cursor:pointer;
}

.NavigationContainment{
  width:220px;
  height:100vh;
  position:fixed;
  top:0px;
  z-index:3500;
  border:none;
}
.Nav-Container{
  position:Fixed;
  top:0px;
  left:0px;
  z-index:10000;
}
.Header-Bar{
  position:fixed;
  top:0px;
  left:0px;
  z-index:2499;
  height:60px;
  width:100%;
  background-color:white;
}
.Close-Menu{
  position:fixed;
  top:10px;
  left:60px;
  z-index:3000;
  cursor:pointer;
}

/* Cards */
.SeventyPercWidth{
  width:calc(70% - 5px);
  line-height:24px;
  text-align:center;
  padding-left:5px;
}
.SeventyPercWidth *{
  display:inline;
  margin:0;
  padding:0;
}
.SeventyPercWidth i{
  position:relative;
  top:6px;
}
.ThirtyPercWidth{
  width:calc(30% - 10px);
  line-height:24px;
  text-align:Center;
  padding-right:10px;
}
.ThirtyPercWidth *{
  display:inline;
  margin:0;
  padding:0;
}
.One-Third{
  width:20%;
  text-align:center !important;
  display:inline-block !important;
  font-size:14px !important;
}
.Two-Thirds{
  width:80%;
  text-align:left !important;
  display:inline-block !important;
}
.Card-Title-Container{
  height:32px !important;
}
.Card-Title-Container *{
  line-height:32px;
}
.Half-Card{
  height:calc((100vw - 140px) / 2 - 2vw);
  width:calc(48% - 6px);
  margin:1%;
  border:3px solid;
  border-radius:2px;
}
.Full-Short-Card{
  height:250px;
  width:calc(98% - 6px);
  margin:1%;
  border:3px solid;
  border-radius:5px;
  display:flex;
  flex-wrap: wrap;
}
.Half-Feature{
  width:50%;
  height:400px;
}
.Content-Half{
  height:360px !important;
  transform:translateY(-20px);
}
.Scroll-Y{
  overflow-y:scroll;
}
.Feature-Image-Options{
  width:100%;
  height:40px;
  position:absolute;
  bottom:0px;
  right:0px;
  transform:translateY(40px);
  overflow-y:hidden;
}
.Text-Social-Actions{
 width:100%;
 height:40px;
 position:absolute;
 bottom:0px;
 left:0px;
 overflow-y:hidden; 
}
.Social-Icon i{
  font-size:32px !important;
  width:32px !important;
  height:32px !important;
  margin:4px 10px !important;
}
.Pad-Top-AR:before{
  padding-top:100%;
  content:"";
  display:block;
}
.Pad-Top-AR{
  position:absolute;
}
.PushUpOneHundredY{
  transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  -moz-transform:translateY(-100%);
  -webkit-transform:translateY(-100%);
  -o-transform:translateY(-100%);
}

.Spacer-Around{
  justify-content:space-around;
}
.Spacer-Between{
  justify-content:space-between;
}

.Prevent-Overflow{
  overflow:hidden !important;
}
.Card-Content-Third{
  width:calc(100% / 3);
  min-height:200px;
  height:100%;
}
.Card-Blue-To-White-Border{
  border-image: linear-gradient(to top left, rgba(10, 193, 255, 1) 0%, rgba(255, 245, 245, 1) 100%) 5;
}
.Card-Red-Blue-Pink-Border{
  border-image: linear-gradient(to top left, rgba(191, 63, 63, 1) 33.33%, rgba(10, 193, 255, 1) 66.66%, rgba(175, 0, 103, 1) 100%) 5;
}
.Solid-Vertical-Border{
  border-image: linear-gradient(to bottom, rgba(255, 84, 5, 1) 25%,rgba(239, 0, 107, 1) 25%, rgba(239, 0, 107, 1) 50%, rgba(175, 0, 103, 1) 50%, rgba(175, 0, 103, 1) 75%, rgba(10, 193, 255, 1) 75%) 5;
}
.Solid-Bottom-Border{
  border-top:0px;
  border-left:0px;
  border-right:0px;
  border-image: linear-gradient(to right, rgba(255, 84, 5, 1) 25%,rgba(239, 0, 107, 1) 25%, rgba(239, 0, 107, 1) 50%, rgba(175, 0, 103, 1) 50%, rgba(175, 0, 103, 1) 75%, rgba(10, 193, 255, 1) 75%) 5;
}

.Thicc{
  border-top:0px !important;
  border-left:0px !important;
  border-right:0px !important;
  border-bottom:6px solid !important;
  border-color:rgba(239, 0, 107, 1);
  border-image: linear-gradient(to right, rgba(255, 84, 5, 1) 25%,rgba(239, 0, 107, 1) 25%, rgba(239, 0, 107, 1) 50%, rgba(175, 0, 103, 1) 50%, rgba(175, 0, 103, 1) 75%, rgba(10, 193, 255, 1) 75%) 5 !important;
}
/* Modal */
.Label-Controller{
  color:white;
  padding-left:2.5%;
  font-size:18px;
  font-weight:bold;
  letter-spacing:3px;
}

/* Profile */
.Profile-Statistic{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:5px auto !important;
}

/* Card-Red-Blue-Pink-Orange-Border-Solid */
.CRBPOBS{
  border:4px solid;
  border-image:linear-gradient(to right, rgba(191, 63, 63, 1) 25.0%, rgba(10, 193, 255, 1) 50.0%, rgba(175, 0, 103, 1) 75.0%, rgba(255, 84, 5, 1) 100%) 5;
}

.Modal-Button{
  position:absolute;
  top:10px;
  right:10px;
}


.Cover{
  object-fit:cover;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  
}
.Force-Center{
  margin:0 auto !important;
}

.Contain{
  object-fit:contain;
  max-width:100%;
  max-height:100%;
}
.MaxWidthGeneral{
  max-width:1200px;
  margin:0 auto;
}
.Left-Radii{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Fixed-Right{
  position:fixed;
  top:0px !important;
  right:-30px !important;
}

.PLR{
  padding-left:10px !important;
  padding-right:10px !important;
}


@media screen and (max-width:800px){
  .Half-Card{
    width:98%;
    height:calc((100vw - 140px) - 2vw);
  }
  .Feed-Content-Box{
    margin-bottom:40px !important;
  }
  .HalfContain{
    width:100% !important;
  }
  .Half-Feature{
    width:100% !important;
    height:400px;
  }
  .Feature-Image-Options{
    width:100% !important;
  }
  .Half-Modal{
    width:100% !important;
    height:auto !important;
  }
  .ModalImage{
    max-height:200px !important;
  }
  .Modal-Button i{
    color:white !important;
  }
  .Header-Bar{
    height:50px;
  }
  .Open-Menu{
    top:5px;
    right:2px;
  }
  .Header-Icon i{
    top:6px;
  }
  .Media-Spacer{
    height:20px;
    width:100%;
    display:block;
    clear:both;
  }
  .Auto-Height{
    height:auto !important;
  }
  .SeventyPercWidth{
    text-align:right;
    padding-right:5px;
    width:calc(50% - 5px);
  }
  .ThirtyPercWidth{
    width:calc(50% - 5px);
    padding-left:5px;
  }
  .Third-Width-Full-Height{
    width:100%;
    height:auto;
    top:50px;
  }
  .Half-Width-Full-Height{
    width:100%;
    height:auto;
    margin:0;
  }
  .Half-Width-Full-Height:first-of-type{
    margin:50px 0px 0px 0px;
    max-height:40vh;
    min-height:200px;
  }
  .Half-Width-Full-Height:nth-of-type(2){
    margin-top:20px;
    width:100vw;
  }
  .Force-Half{
    width:80vw;
    position:relative;
    left:10vw;
  }
  .Force-Half input{
    width:80vw !important;
  }
}
@media screen and (max-height:600px){
  .Third-Width-Full-Height{
    width:100vw;
    max-height:40vh;
    min-height:200px;
    top:50px;
  }
  .Fill-Remaining-Thirds{
    width:100vw;
    height:auto;
    min-height:500px;
  }
}



@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  position:fixed;
  top:calc(50vh - 20px);
  left:calc(50vh - 20px);
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
.rotating{
  font-size:40px;

}