@import url('https://fonts.googleapis.com/css?family=Nova+Square');
*{
  font-family: 'Nova Square', monospace;
}
body{
  margin:0;
  padding:0;
  overflow-x:hidden;
}
.App-header {
  position:absolute;
  top:0px;
  left:0px;
  height:auto;
  min-height:100vh !important;
  overflow-y:scroll;
  width:calc(100vw + 1px) !important;
  background: linear-gradient(to top right, rgba(175, 0, 103, 1) 0%, rgba(191, 63, 63, 1) 0100%);
}
.Content-Container{
  position:absolute;
  top:0px;
  left:0px;
  width:100vw;
}


.Heavy-Box-Shadow{
  -webkit-box-shadow: 20px 20px 30px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 20px 20px 30px -10px rgba(0,0,0,0.5);
  box-shadow: 20px 20px 30px -10px rgba(0,0,0,0.5);
}
.Heavy-Inset-Box-Shadow{
  -webkit-box-shadow: inset -20px -20px 30px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: inset -20px -20px 30px -10px rgba(0,0,0,0.5);
  box-shadow: inset -20px -20px 30px -10px rgba(0,0,0,0.5);
}
.Light-Box-Shadow{
  -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.5);
}


/* Navigation */
.Icon-Child i{
  font-size:26px !important;
  position:relative;
  top:7px;
  z-index:3000;
}
.Functional-Icon-Child i{
  font-size:40px !important;
  z-index:3000;
}
.NavTile{
  width:50px;
  height:50px;
  cursor:pointer;
  margin-top:10px;
}
.NavTile:hover{
  filter:brightness(105%);
  -ms-filter:brightness(105%);
  -moz-filter:brightness(105%);
  -webkit-filter:brightness(105%);
  -o-filter:brightness(105%);
}

.Open-Menu{
  position:fixed;
  top:10px;
  right:10px;
  z-index:2500;
  cursor:pointer;
}

.NavigationContainment{
  width:200px;
  height:100vh;
  position:fixed;
  top:0px;
  z-index:3500;
}
.Nav-Container{
  position:Fixed;
  top:0px;
  left:0px;
  z-index:10000;
}
.Header-Bar{
  position:fixed;
  top:0px;
  left:50px;
  z-index:2499;
  height:60px;
  width:calc(100vw - 50px);
  background-color:white;
}
.Close-Menu{
  position:fixed;
  top:10px;
  left:60px;
  z-index:3000;
  cursor:pointer;
}

/* Cards */
.Half-Card{
  height:calc((100vw - 140px) / 2 - 2vw);
  width:calc(48% - 6px);
  margin:1%;
  border:3px solid;
  border-radius:2px;
}
.Full-Short-Card{
  height:250px;
  width:calc(98% - 6px);
  margin:1%;
  border:3px solid;
  border-radius:5px;
  display:flex;
  flex-wrap: wrap;
}
.Half-Feature{
  width:50%;
  height:400px;
}
.Content-Half{
  height:360px !important;
  transform:translateY(-20px);
}
.Scroll-Y{
  overflow-y:scroll;
}
.Feature-Image-Options{
  width:100%;
  height:40px;
  position:absolute;
  bottom:0px;
  right:0px;
  transform:translateY(40px);
}
.Social-Icon i{
  font-size:32px !important;
  width:32px !important;
  height:32px !important;
  margin:4px 10px !important;
}




.Prevent-Overflow{
  overflow:hidden !important;
}
.Card-Content-Third{
  width:calc(100% / 3);
  min-height:200px;
  height:100%;
}
.Card-Blue-To-White-Border{
  border-image: linear-gradient(to top left, rgba(10, 193, 255, 1) 0%, rgba(255, 245, 245, 1) 100%) 5;
}
.Card-Red-Blue-Pink-Border{
  border-image: linear-gradient(to top left, rgba(191, 63, 63, 1) 33.33%, rgba(10, 193, 255, 1) 66.66%, rgba(175, 0, 103, 1) 100%) 5;
}
/* Card-Red-Blue-Pink-Orange-Border-Solid */
.CRBPOBS{
  border:4px solid;
  border-image:linear-gradient(to right, rgba(191, 63, 63, 1) 25.0%, rgba(10, 193, 255, 1) 50.0%, rgba(175, 0, 103, 1) 75.0%, rgba(255, 84, 5, 1) 100%) 5;
}



.Cover{
  object-fit:cover;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  min-height:400px;
  min-width:400px;
}

.Contain{
  object-fit:contain;
  max-width:100%;
  max-height:100%;
}

@media screen and (max-width:800px){
  .Half-Card{
    width:98%;
    height:calc((100vw - 140px) - 2vw);
  }
  .Feed-Content-Box{
    margin-bottom:40px !important;
  }
  .HalfContain{
    width:100% !important;
  }
  .Half-Feature{
    width:100% !important;
    height:300px;
  }
  .Feature-Image-Options{
    width:100% !important;
  }
}