@import url('https://fonts.googleapis.com/css?family=Nova+Square');
*{
  font-family: 'Nova Square', monospace;
}
body{
  margin:0;
  padding:0;
}
.App-header {
  position:absolute;
  top:0px;
  left:0px;
  height:auto;
  min-height:100vh !important;
  overflow-y:scroll;
  width:100vw;
  background: linear-gradient(to top right, rgba(175, 0, 103, 1) 0%, rgba(191, 63, 63, 1) 0100%);
}
.Content-Container{
  position:absolute;
  top:0px;
  left:50px;
  width:calc(100vw - 50px);
}