@import url('https://fonts.googleapis.com/css?family=Nova+Square');
*{
  font-family: 'Nova Square', monospace;
}
body{
  margin:0;
  padding:0;
}
.App-header {
  position:absolute;
  top:0px;
  left:0px;
  height:auto;
  min-height:100vh !important;
  overflow-y:scroll;
  width:100vw;
  background: linear-gradient(to top right, rgba(175, 0, 103, 1) 0%, rgba(191, 63, 63, 1) 0100%);
}
.Content-Container{
  position:absolute;
  top:0px;
  left:50px;
  width:calc(100vw - 50px);
}


/* Navigation */
.Icon-Child i{
  font-size:30px !important;
}
.NavTile{
  width:50px;
  height:50px;
  cursor:pointer;
  margin-top:10px;
}
.NavTile:hover{
  filter:brightness(105%);
  -ms-filter:brightness(105%);
  -moz-filter:brightness(105%);
  -webkit-filter:brightness(105%);
  -o-filter:brightness(105%);
}

.Open-Menu{
  position:fixed;
  top:10px;
  right:10px;
  z-index:2500;
  cursor:pointer;
}
.Account{
  position:absolute;
  bottom:0px;
  left:0px;
}