body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center-text{
  text-align:center !important;
}
.center-text a{
  display:inline-block;
}

/* Welcome */
.Video-Container{
  width:100vw;
  height:100vh;
  overflow:hidden;
  z-index:300000000;
  position:fixed;
  top:0px;
  left:0px;
}
.Video-Welcome{
  height:150%;
  min-width:100%;
  position:relative;
  left:50%;
  top:-25%;
  transform:translateX(-50%);
  margin:0;
  padding:0;
}
.Video-Cover{
  width:100%;
  height:100%;
  background: linear-gradient(to top left, rgba(255, 84, 5, 0.2) 0%, rgba(191, 63, 63, 0.33) 0100%);
  position:Absolute;
  top:0px;
  left:0px;
}
.Onboard-Container{
  width:40%;
  height:70%;
  position:absolute;
  top:15%;
  left:50%;
}
@media screen and (max-width:800px){
  .Video-Welcome{
    height:200%;
    top:-50%;
  }
}
@media screen and (max-height:600px){
  .Video-Welcome{
    height:250%;
    top:-75%;
  }
}