body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.center-text{
  text-align:center !important;
}
.center-text a{
  display:inline-block;
}

/* Welcome */
.Video-Container{
  width:100vw;
  height:100vh;
  overflow:hidden;
  z-index:300000000;
  position:fixed;
  top:0px;
  left:0px;
}
.Video-Welcome{
  height:150%;
  min-width:100%;
  position:relative;
  left:50%;
  top:-25%;
  transform:translateX(-50%);
  margin:0;
  padding:0;
}
.Video-Cover{
  width:100%;
  height:100%;
  background: linear-gradient(to top left, rgba(255, 84, 5, 0.2) 0%, rgba(191, 63, 63, 0.33) 0100%);
  position:Absolute;
  top:0px;
  left:0px;
}
.Onboard-Container{
  width:40%;
  height:70%;
  position:absolute;
  top:15%;
  left:50%;
}
.dev-tag{
  width:100px;
  height:100px;
  position:fixed;
  bottom:-50px;
  left:-50px;
  z-index:1000000000;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  text-align:Center;
}


@media screen and (max-width:800px){
  .Video-Welcome{
    height:200%;
    top:-50%;
  }
}
@media screen and (max-height:600px){
  .Video-Welcome{
    height:250%;
    top:-75%;
  }
}
@import url('https://fonts.googleapis.com/css?family=Righteous');
*{
    font-family: 'Righteous', sans-serif;
}
body{background:#6d6d6d;}

.center-title{
  position:fixed;
  top:calc(50% + 60px);
left:50%;
  transform:translateX(-50%);
  color:#f0f0f0;
}
.Container{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  transform:rotate(180deg);
}
.Center{
  display:flex;
  flex-wrap:wrap;
  position:relative;
  justify-content:center;
  top:calc(50% - 60px);
  left:50%;
  transform:translateX(-50%);
}

.LoadScaler{
  -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
  animation: Scaler 1s infinite;
  width:30px;
  height:0px;
  margin:0px 5px;
  background:#30ffd9;
}

.LoadScaler:nth-of-type(1){animation-delay: 0.1s;}
.LoadScaler:nth-of-type(2){animation-delay:0.3s;}
.LoadScaler:nth-of-type(3){animation-delay:0.4s;}
.LoadScaler:nth-of-type(4){animation-delay:0.6s;}
.LoadScaler:nth-of-type(5){animation-delay:0.7s;}
.LoadScaler:nth-of-type(6){animation-delay:0.9s;}
.LoadScaler:nth-of-type(7){animation-delay:1.0s;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes Scaler {
  0% {height:30px; background:#55e089;}
  25% {background:#4aba74;}
  50% {height:120px; background:#4c9b6a;}
  75% {background:#4aba74;}
  100% {height:30px;background:#55e089;}
}

@keyframes Scaler {
  0% {height:30px; background:#e06255;}
  25% {background:#e24c3d;}
  50% {height:120px; background:#ff4a38;}
  75% {background:#e24c3d;}
  100% {height:30px;background:#e06255;}
}